.container2{
    
    padding: 2rem;    
    background-color: #f6f7b7;
}

.titulo{
    display: block;
    margin-left: 10rem;
    margin-right: 10rem;
    margin-bottom: 1rem;
}

td{
    padding: .5rem 5rem .5rem 5rem;
    
}

table{
    margin: auto;
    box-shadow: 0 0 1rem  black;
    border-radius: .5rem;
    padding: 1rem;
    background-color: whitesmoke;
    color: black;
}

tr{
    border-bottom: .1rem solid black;
}

.vaciar{
    float: right;
}

.footerTable{
    margin: 1rem;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.footerTable button{
    background-color: #020229;
    color: white;
    border-radius: .5rem;
    font-weight: bold;
    font-size: 1rem;
}

.footerTable button:hover{
    background-color: #08085a;
}