h2{
    float: left;
    margin: 1rem;
}

.detalle{
    width: 100%;
    margin: auto;
    margin-top: 1rem;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.contador .resta{
    width: 2.5rem;
    background-color: black;
    color: white;
}

.contador .suma{
    width: 2.5rem;
    background-color: black;
    color: white;
    
}

.agregar{
    font-size: 1rem;
    background-color: black;
    color: white;
}

button .agregar{
    background-color: white;
    color: black;
    text-decoration: none;
}

button .agregar:hover{
    background-color: aliceblue;
}

.fotoProducto{
    padding: 1rem;
    width: 320px;
    height: 350px;
    border: 1px solid black;

}

link{
    text-decoration: none;
}

button{
    margin: .3rem;
    background-color: white;
    border-radius: .3rem;
}

button:hover{
    background-color: aliceblue;
}

.botonesCart{
    display: flex;
    flex-direction: column;
}

.datosProductos{
   margin-bottom: auto;
   margin-top: auto;
}